<div class="pokemon-container">
  <% if @cart_items.present? %>
    <% @cart_items.each do |item| %>
      <%= render partial: 'cart_item', locals: { item: item } %>
    <% end %>
  <% else %>
    <p>Your shopping cart is empty.</p>
  <% end %>
</div>
<%= link_to 'Checkout', checkout_path, class: 'checkout-button button-style' %>
