<div class="about-container">
    <h1>About</h1>
    <p>PokeMart is currently the world's largest company that sells all your Pokemon needs, 
    with an impressive number of both employees and stores located around the world, 
    they have decided to take their products to the online world. 
    The company was founded over 30 years ago and started locally with a dozen employees, 
    they now have thousands of stores scattered across the globe along with over a hundred thousand employees. 
    They want to expand even more and decided that selling their products online is 
    the step they need to sell their products to every Pokemon trainer in the world.</p>

    <p>There are a total of 6 tables created from 2 csv files.</p>

    <%= image_tag "Pokemart.drawio.png", alt: "ERD diagram image" %>
</div>